<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_styles.css') }}">
</head>

<body>
	<header id="bg_img" style="display: flex; direction: rtl;">
    <div style="display: flex; flex-flow: row; align-items: center; margin-right:50px;">
			  <a href="/logout" class="btn reverse">Logout <span class="logout-symbol">&#10162;</span></a>
        <a href="/contactus" class="btn reverse">Contact Us</a>
		</div>
    <div style="min-width:500px; max-height:180px; border:solid grey 1px;margin-right:100px; padding:5px;">
      {{ temp }}
    </div>
  </header>

  <div class="container">
    {% block container_content %} {% endblock %}
  </div>
</body>
</html>