<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/registration_styles.css')}}">
    </head>
    <body>
        <div id="bg_img"></div>
        <div class="container">
            <form>
                <center>
                    {% block form %}{% endblock %}
                </center>
            </form>
        </div>   
    </body>
</html>